*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    /* background-color: #f8f8f8; */
    padding: 10px;
    z-index: 1;
}

#regresar-btn {
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#regresar-btn:hover {
    transform: scale(1.1);
}

.body-memory-game{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #0a3c2f; */

    background-image: url("/assets/img/background.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.container-memory-game{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px 60px;
    background: #8FF3DE; /* Color a cambiar */
}

#titulo-memory-game{
    font-size: 3em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

.reset{
    padding: 15px 20px;
    color: black;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus{
    color: white;
    background: goldenrod;
}

.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: white;
    /* transition: 2s; */
    /* transform: rotateY(0deg); */    
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #E48FF3;
    /* opacity: 0.85; */
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen::after,
.boxMatch::after
{
    transform: rotateY(180deg);
}